<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}"><h2>Butikk</h2></a>
        <a href=""><h2>Handlekurv</h2></a>
        {% if 'username' in session %}
            <a href="{{ url_for('logout') }}"><h2>Logg ut</h2></a>
        {% else %}
            <a href="{{ url_for('login') }}"><h2>Logg inn</h2></a>
            <a href="{{ url_for('register') }}"><h2>Registrer</h2></a>
        {% endif %}
    </div>
    
    <div class="lowheader">
        <h2>Produkter</h2>
        <p>Her kan du se våre tilgjengelige produkter.</p>
    </div>
    
    <div class="product-container">
        <div class="product">
            <img src="{{ url_for('static', filename='shoes-153310_1280.png') }}" alt="Produkt 1" class="product-image">
            <h3 class="product-name">Sko</h3>
            <p class="product-price">Kr 199,00</p>
            <a href="{{ url_for('add_to_cart', product_name='Produkt 1') }}" class="buy-button">Kjøp</a>
        </div>
        <div class="product">
            <img src="{{ url_for('static', filename='jacket-2899728_1280.png') }}" alt="Produkt 2" class="product-image">
            <h3 class="product-name">Flis jakke</h3>
            <p class="product-price">Kr 299,00</p>
            <a href="{{ url_for('add_to_cart', product_name='') }}" class="buy-button">Kjøp</a>
        </div>
        <div class="product">
            <img src="{{ url_for('static', filename='careless-harpen-lue-beige-42802865438972.png') }}" alt="Produkt 3" class="product-image">
            <h3 class="product-name">Produkt 3</h3>
            <p class="product-price">Kr 399,00</p>
            <a href="{{ url_for('add_to_cart', product_name='Produkt 3') }}" class="buy-button">Kjøp</a>
        </div>
    </div>

</body>
</html>